/* SITE SETUP */

@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Montserrat", sans-serif;
  --black: #2b2b2b;
  --white: #ffffff;
  --dark-grey: #545454;
  --dark-grey-trans: #545454bf;
  --medium-grey: #8c8c8c;
  --light-medium-grey: #b9b9b9;
  --light-grey: #EBEBEB;
  --beige: #c9c9c9;
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Beau Rivage", cursive;
}

/* LOADING OVERLAY */
.loading_overlay {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.loading_overlay_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loading_overlay_cont img {
    width:50%;
    height: auto;
}

/* FONT STYLING */

h1 {
    font-family: var(--secondary-font);
    font-size: 2rem;
}
p {
    line-height: 1.75rem;
    letter-spacing: 0.03rem;
}

/* TOP BANNER */

header {
    background: rgb(205,205,205);
    background: linear-gradient(180deg, rgba(205,205,205,1) 0%, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 100%);
}
.topBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
}
.topBannerLogo {
    width: 200px;
    height: 200px;
}

/* NAV BAR */
.navbar {
    width:100%;
    padding:0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navItem {
    list-style: none;
    padding: 1rem 0;
}
.link {
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    padding: 1rem;
    color: var(--black);
    text-decoration: none;
    transition: all 250ms linear;
}
.link:hover {
    border-top: 1px solid var(--dark-grey);
    border-bottom: 1px solid var(--dark-grey);
    cursor: pointer;
    transition: all 250ms linear;
}
.link.active {
    font-weight: 500;
    transition: all 250ms linear;
}
.navbar_narrow {
    display: none;
}
.navItem_narrow {
    list-style: none;
    padding: 1rem 0;
    display:none;
}
.navItem_narrow_btn {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 25px;
    cursor: pointer;
    list-style: none;
}
@media screen and (max-width: 600px) {
    .navbar {
        display: none;
    }
    .navbar_narrow {
        display: block;
        padding: 15px 0;
        width: 100%;
        text-align: center;
    }
    .navItem_narrow.active {
        display: block;
    }
    .link {
        border:none;
    }
}
    


/* SLIDESHOW */
.slideshow_cont {
    margin: 25px auto;
    width:75%;
    height: 400px;
    overflow: hidden;
}
.slideshow_img {
    width:100%;
    height: 400px;
    opacity: 0.5;
}
@media screen and (max-width: 768px) {
    .slideshow_cont {
        width: 100%;
    }
    .slideshow_img {
        height: 300px;
    }
}

/* ABOUT PAGE */
.about_page {
    width:100%;
    text-align: center;
    padding-bottom: 25px;
    background-color: var(--white);
}
.about_title {
    padding-top:50px;
    font-weight: 500;
    color: var(--dark-grey);
}
.about_text {
    width:60%;
    margin: 0 auto;
    
}
.about_img {
    width: 350px;
    padding:25px;
}

/* GALLERY PAGE */
.gallery_page {
    padding: 50px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}
.gallery_item {
    position: relative;
    overflow: hidden;
}
.gallery_item:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
}
.gallery_item:nth-child(2) {
    grid-column: span 2;
    grid-row: span 2;
}
.gallery_item:nth-child(3) {
    grid-column: span 2;
    grid-row: span 2;
}
.gallery_item:nth-child(4) {
    grid-column: span 2;
    grid-row: span 2;
}
.gallery_item:nth-child(5) {
    grid-column: span 4;
    grid-row: span 2;
}
.gallery_item:nth-child(6) {
    grid-column: span 2;
    grid-row: span 1;
}
.gallery_item:nth-child(7) {
    grid-column: span 3;
    grid-row: span 1;
}
.gallery_item:nth-child(8) {
    grid-column: span 3;
    grid-row: span 2;
}
.gallery_item:nth-child(9) {
    grid-column: span 3;
    grid-row: span 3;
}
.gallery_item:nth-child(10) {
    grid-column: span 3;
    grid-row: span 2;
}
.gallery_item:nth-child(11) {
    grid-column: span 3;
    grid-row: span 2;
}
.gallery_item:nth-child(12) {
    grid-column: span 3;
    grid-row: span 2;
}
.gallery_item:nth-child(13) {
    grid-column: span 6;
    grid-row: span 1;
}
.gallery_item_info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity:0;
    background-color: var(--dark-grey-trans);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:15px;
    transition: all 250ms linear;
    text-align: center;
}
.gallery_item_info:hover {
    opacity: 1;
    transition: all 250ms linear;
    color:var(--white);
}
.gallery_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* CONTACT PAGE */
.contact_page {
    width:80%;
    margin: 50px auto;
    text-align: center;
    padding-bottom: 25px;
    background-color: var(--medium-grey);
    color: var(--white);
}
.contact_page h1 {
    padding:25px;
}
.contact_list_item {
    list-style: none;
    padding-bottom: 15px;
}
.contact_list_item span {
    font-weight: bold;
}
.mailto {
    color: var(--white);
}
.contact_page .form_cont {
    background-color: var(--light-medium-grey);
}

/* SHOP PAGE */
.shop_page {
    padding:50px;
}
.shop_grid {
    padding:25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap:25px;
}
.shop_item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:25px;
    width:100%;
    height: fit-content;
    transition: all 250ms linear;
    cursor: pointer;
}
.shop_item:hover {
    background-color: var(--light-grey);
    transition: all 250ms linear;
}
.shop_img {
    width:80%;
    height: auto;
    object-fit: cover;
}
.shop_item_description {
    margin-top:25px;
    text-align: center;
}
.shop_item_title {
    font-weight: 500;
    font-size: 1.25rem;
}
@media screen and (max-width: 768px) {
    .shop_grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


/* INDIVIDUAL PIECE PAGES */
.piece_page {
    padding-bottom: 50px;
}
.piece_cont {
    margin: 25px auto;
    width:50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:25px;
}
.piece_img, .piece_img_2, .piece_img_3 {
    width:100%;
    height: auto;
    object-fit: cover;
}
.piece_desc {
    text-align: center;
}
.piece_title {
    width:fit-content;
    margin: 15px auto;
    padding: 10px;
    border-bottom: 1px solid var(--dark-grey);
}
.piece_description, .piece_date, .piece_size {
    font-size: 0.8rem;
}
.piece_price {
    font-weight: 600;
    font-size: 1.25rem;
    padding: 10px;
}
.prints_cont {
    width: fit-content;
    margin: 25px auto;
}
.piece_prints {
    width: fit-content;
    margin: 0 auto;
    font-weight: 500;
    font-size: 1.25rem;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--dark-grey);
}
.piece_prints_price {
    margin-top: 15px;
    font-weight: 600;
    font-size: 1.25rem;
}
.piece_prints_size {
    font-size: 0.8rem;
}
.enquiries_link {
    text-decoration: none;
    color: var(--black);
    transition: all 250ms linear;
}
.enquiries_link:hover {
    color: var(--dark-grey);
    text-decoration: underline;
    transition: all 250ms linear;
}
.change_img_btn {
    border:none;
    padding:10px;
    font-family: var(--primary-font);
    background-color: var(--white);
    border-radius: 5px;
    cursor: pointer;
}

/* PRESS PAGE */
.press_page {
    padding:50px;
}
.press_page h1 {
    text-align: center;
    margin-bottom: 25px;
}
.press_container {
    padding:25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.press_title_and_date {
    margin-bottom: 25px;
}
.press_title {
    font-size: 1.75rem;
}
.press_date {
    color: var(--dark-grey);
    font-size: 0.8rem;
    padding:10px 0;
}
.press_text {
    padding: 10px 0;
    line-height: 1.75rem;
    letter-spacing: 0.03rem;
}
.press_imgs_cont {
    padding-top: 25px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:25px;
}
.press_imgs_cont img {
    width:50%;
    height:auto;
}
@media screen and (max-width: 768px) {
    .press_imgs_cont {
        flex-direction: column;
    }
    .press_imgs_cont img {
        width:100%;
    }
    .press_link {
        font-size: 0.5rem;
    }
}
    



/* SUBSCRIBE FORM */
.form_cont {
    margin: 50px auto;
    width: 75%;
    background-color: var(--light-grey);
    padding: 25px;
}
.form_subtitle {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-top:15px;
}
.form_cont p {
    padding: 15px;
    font-size: 0.8rem;
}
.subscribe_form {
    display: flex;
    width:75%;
    margin: 0 auto;
    justify-content: center;
    gap:30px;
    padding:10px;
}
#firstName, #secondName, #email, .subscribe_submitBtn {
    font-family: var(--primary-font);
    padding: 15px;
    border: none;
}
.subscribe_submitBtn {
    background-color: var(--dark-grey);
    color: var(--white);
    cursor: pointer;
    transition: all 250ms linear;
}
.subscribe_submitBtn:hover {
    background-color: var(--black);
    transition: all 150ms linear;
}
@media screen and (max-width: 768px) {
    .subscribe_form {
        flex-direction: column;
    }
}
    